 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Source Code Pro';
  text-align: left;
  background-color: #303030;
  color: white;
}

a {
  text-decoration: none;
  color: white
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
}

.white-power {
  color: white;
}
